@font-face {
    font-family: "Merienda-Regular";
    src: url("fonts/Merienda-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 30px; /* Header - Main (Section) - Footer */
    background-color: #F8EBF1;
    background-image: url("images/bg.png");
    font-family: "Merienda-Regular", Arial, sans-serif;
}

/* ===== HEADER ===== */
header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 8px;
}

/* ===== SECTION (Contenedor Principal) ===== */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Contenedor de la semana */
.week {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px;
    max-width: 90%;
    width: 100%;
    height: 100%;
}

/* Distribución de los días en el grid */
#monday { grid-column: 1; grid-row: 1; }
#tuesday { grid-column: 2; grid-row: 1; }
#wednesday { grid-column: 3; grid-row: 1; }
#thursday { grid-column: 1; grid-row: 2; }
#friday { grid-column: 2; grid-row: 2; }
.notes { grid-column: 3; grid-row: 2; } /* Notas ocupa la última celda */

#monday, #friday {
    background-color: #DBD9FF;
}
#tuesday, #thursday {
    background-color: #FBDCEB;
}
#wednesday {
    background-color: #CFF6F5;
}
.note {
    background-color: #FFFBF9;
}

/* Día individual */
.day, .note {
    border-radius: 12px;
    padding: 25px 30px 25px 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 30px;
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.day-content, .note-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;

}
/* Título del día */
.day-header, .note-header {
    background-color: white;
    padding: 5px;
    margin: 0px 20px;
    border-radius: 20px 20px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.note-header {
    background-color: #FBEBE4;
}

.task-list, .note-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding: 20px;
}
.task-list li, .note-section textarea {
    padding: 8px;
    margin-bottom: 5px;
    font-size: 22px;
}

/* Notas */
.note-section textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
}

/* ===== FOOTER ===== */
footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.editable-li {
    outline: none;
}